.collapsable-info {
  background-color: #efefef;
  font-size: 14px;
  margin-bottom: 10%;
  margin-right: 10%;
  padding: 5px;
  text-align: left;

  header {
    font-size: 16px;
    opacity: 0.4; 
  }
}

.hotel-image {
  margin-bottom: 20px;
  width: 90vw;

  img {
    float: left;
    max-width:90%;
    height:auto;
    max-height:100%;
  }
}

hr {
  display: block;
  position: relative;
  padding: 0;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
  margin-left: 0;
  margin-right: 10%;
}

.info-panel {
  display: flex; 
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 10%;

  .info-item {
    float: left;
    margin-bottom: 30px;
    text-align: left;
    width: 50%;

    .info-emphasis {
      font-size: 18px;
    }

    p {
      margin: 0;
      padding-right: 10%;
      word-break: break-word;
    }
  }

  .info-item-full-width {
    float: left;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;

    p {
      margin: 0;
      padding-right: 10%;
      word-break: break-word;
    }
  }
}